.DS_Store
Kick-off Canvas.docx
Kick-off Canvas.odt
mobi_meet_200206_notes.odt
mobimeet_200206_agenda.odt
modules-mobi.odt
package.json
project-description.odt
project-mobi.code-workspace
project-presentation.odp
zzz_old/

backend/venv